

  .sesionUsuario {
  
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    transition: all 0.3s;
    cursor: pointer;
 
   
  
  
  
  }
  

  .sesionUsuario:hover {
    background: #f5c634;
  }
  
  .sesionUsuario:active {
    background: whitesmoke;
    transform: scale(0.99);
  }
  
  .userLinks {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
    right: 16vw;
    top: 8vh;
  }

  .userLinks a {
    padding: 3px;
  }
  
  .userLinks a:hover {
    color: #d8ad2e;
  }
  
  .logout {
    width: 100px;
    height: 25px;
    border-radius: 5px;
  }
  
  .logout:hover {
    background: #f5c634;
  }
  
  .logout:active {
    background: whitesmoke;
    transform: scale(0.99);
  }